section#animate {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    z-index: -1000;
    overflow-x: hidden;
    .circle {
        position: absolute;
        height: 80px;
        width: 80px;
        border: 2px solid var(--text-color);
        border-radius: 50%;
        animation: circle 1.5s linear infinite;
    }
    .square {
        position: absolute;
        height: 50px;
        width: 50px;
        border: 2px solid var(--text-color);
        animation: square 2s linear infinite;
    }
    @keyframes circle {
        0% {
            transform: scale(.1);
        }
        100% {
            transform: scale(1);
        }
    }
    @keyframes square {
        0% {
            transform: scale(.1);
        }
        25% {
            transform: scale(1);
        }
        50% {
            transform: rotate(360deg);
        }
        75% {
            transform: rotate(0deg);
        }
        100% {
            transform: scale(.1);
        }
    }
}

@media only screen and (max-width: 600px) {
    section#animate {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
}