<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Free Website Layouts, Free websites, web designs free download">
    <meta name="keywords" content="HTML,CSS,JavaScript, web layouts, layout, web design, free website, free hosting, free domain">
    <meta name="author" content="Ritik Swami">
    <link rel="stylesheet" href="../layout.css">
    <title>DevOnDuty - LOFA</title>
</head>

<body class="LOFA">
    <header class='vh-100 vwp-100'>
        <nav class="p-1 bg-silver vwp-100">nav</nav>
        <section class="p-1 bg-silver vhwp-100">header</section>
    </header>
    <main class='p-2 bg-silver vh-50 vwp-100'>Main</main>
    <footer class='f-c py-1 bg-silver'>Footer</footer>
</body>

</html>