<div id="box-container">
    <div id="box-content">
        <div class="box-sec b-h">
            <h2 id='box-container-header'>Header</h2>
            <div id="close" onclick="close_container()">
                <i class="material-icons">close</i>
            </div>
        </div>
        <div class="box-sec b-m">
            <div class="website-design-pc web-design">
                <img id="desktop-img" class="image" src="#" alt="Desktop Design" srcset="">
            </div>
            <div class="website-design-mobile web-design">
                <img id="mobile-img" class="image" src="#" alt="Mobile Design" srcset="">
            </div>
        </div>
        <div class="buttons box-sec b-b">
            <div class="download btn" id="download_link" onclick="link(this.id)"><span>Download Source Code</span>
                <span class="material-icons">file_download</spna>
            </div>
            <div class="visit btn" id="visit_link" onclick="link(this.id)">
                <span>Preview</span>
                <span class="material-icons">visibility</span>
            </div>
        </div>
    </div>
</div>