<div class="social-feed">
    <ul>
        <li><a href="https://www.instagram.com/ritik_jr_/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://www.facebook.com/ritik.swami.56/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ritik-swami-jr-91b7511b6/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="https://twitter.com/Ritik_jr_" target="_blank"><i class="fa fa-twitter"></i></a></li>
    </ul>
</div>
<div class="copy-write">&#169; Dev On Duty 2021</div>