<nav>
    <div class="logo">
        <div class="logo-icon">
            <img src="../assets/main/logo.png" alt="devonduty logo" srcset="">
        </div>
        <span class="unselectable">Dev On Duty</span>
    </div>
    <div class="nav-items">
        <ul>
            <li class="nav-item unselectable" id="home" onclick="herf(this.id)">Home</li>
            <li class="nav-item unselectable" id="about" onclick="herf(this.id)">About</li>
            <li class="nav-item unselectable" id="contact" onclick="herf(this.id)">Contact</li>
            <li class="dark-light" onclick="dark_light()" id="dark-light"><i class="fa fa-adjust"></i></li>
        </ul>
        <span onclick="nav_menu()">&#9776;</span>
        <div id="nav-menu" class="sidenav">
            <span class="closebtn unselectable" id="side-navbar-close-btn" onclick="close_popup(this.id)">&times;</span>
            <ul>
                <li class="side-nav-item unselectable" id="sn-home-btn" onclick="herf(this.id)">Home</li>
                <li class="side-nav-item unselectable" id="sn-about-btn" onclick="herf(this.id)">About</li>
                <li class="side-nav-item unselectable" id="sn-contact-btn" onclick="herf(this.id)">Contact</li>
            </ul>
        </div>
    </div>
</nav>
<section id="h-header" class="home">
    <div class="h-header unselectable">
        <div class="container">
            <h2>Dev On Duty</h2>
            <h1>Free Web Template layouts and Designs</h1>
        </div>
    </div>
</section>

<section id="a-header" class="about">
    <div class="a-header unselectable">
        <div class="container">
            <h1>About</h1>
        </div>
    </div>
</section>

<section id="c-header" class="contact">
    <div class="c-header unselectable">
        <div class="container">
            <h1>Contact</h1>
        </div>
    </div>
</section>