<h2>Layouts</h2>
<div id="container"></div>
<div id="pop-up-window">
    <div class="container">
        <div class="header">
            <h1 id="card-title">Page Name</h1>
            <div id="close" onclick="close_popup()">&times;</div>
        </div>
        <div class="design-windows">
            <div class="desktop">
                <img src="" alt="Desktop Design" id="desktop-img">
            </div>
            <div class="mobile">
                <img src="" alt="Mobile Design" id="mobile-img">
            </div>
        </div>
        <div class="buttons">
            <div id="download_link" class="download btn" onclick="link(this.id)">
                <span>Download</span>
                <i class="fa fa-download"></i>
            </div>
            <div id="visit_link" class="visit btn" onclick="link(this.id)"><span>Preview</span>
                <i class="fa fa-eye"></i></div>
        </div>
    </div>
</div>